*.h linguist-language=C
*.ipynb linguist-language=Python
FASCIA/* linguist-vendored
FASCIA/fascia.cpp -linguist-vendored
*.pdf linguist-documentation
Wizualizacje/* linguist-documentation
Wizualizacje/resultsCalc.ipynb -linguist-documentation
